.header{
    height:80px;
    background-color:#ffffff;
}
.hr{
    border-color: gray;
    border-width: 1px;
}


.navigationBarElement{
    font-weight: bold;
}

.latestNewsSection{
    background-color: #f4f4f4;
}

.spaceBar{
    padding-top: 120px;
}

.imageTitle{
    font-size: 0.800em;
}

.redNumbers{
    padding-right:20px;
    color:#ff1d46;
}

.mostPopularTitle{
    font-size: 0.950em;
}

.author{
    font-size: 0.800em;
}

.sezioneRiquadrata{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.littleParagraph{
    font-size: 0.850em;
}

.footer{
    background-color: #e7e7e7;
    height: 390px;
}

.groupOfIcons{
    width: 70px;
}

.icon{
    color: black;
}

.returnToTop{
    text-decoration: none;
    color: black;
}