.header{
    height:80px;
    background-color:#ffffff;
    border-bottom: 1px solid #b6b6b6;
}
.hr{
    border-color: gray;
    border-width: 1px;
}


.navigationBarElement{
    font-weight: bold;
}

.latestNewsSection{
    background-color: #f4f4f4;
}

.spaceBar{
    padding-top: 120px;
}

.imageTitle{
    font-size: 0.800em;
}

.redNumbers{
    padding-right:20px;
    color:#ff1d46;
}

.mostPopularTitle{
    font-size: 0.950em;
}

.author{
    font-size: 0.800em;
}

.sezioneRiquadrata{
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.littleParagraph{
    font-size: 0.950em;
}

.footer{
    background-color: #e7e7e7;
}

.groupOfIcons{
    width: 70px;
}

.icon{
    color: black;
}

.returnToTop{
    text-decoration: none;
    color: black;
}

.littleTitle{
    font-size: 0.700em;
}

.siteMapLink{
    text-decoration: none;
    color: black;
    font-size: 0.760em
}

.link{
    text-decoration: none;
    color: black;
    font-size: 0.760em
}

.yellowSquare{
    width: 100px;
    background-color: #CBF700;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.blackSquare{
    background-color: #000000;
    color: white;
    width: 100px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 10px;
}

.linkWhite{
    color: white;
    text-decoration: none;
    font-size: 0.760em
}

.img {
    z-index: 0; }

.text-over-img {
    z-index:1;
    font-size: 1.2em;
    margin-top: -100px;
}

.mt-head{
    margin-top: 80px;
}

.redBackground{
    z-index: -1;
    margin-left: -20px;
}

.linkMenu{
    text-decoration: none;
    color:#212529;
}

.paragraphLink{
    text-decoration: none;
    color:#212529;
}